// overwrite theme variables

//1. import functions (to manipulate colours, SVGs, calc, etc.)
@import '../node_modules/bootstrap/scss/functions';

//2. include any default variable overrides here
$body-bg: #FEFDF8;
$body-color: #18336D;
$primary: #64C4CC;
$secondary: #FFB3A1;
$tertiary: #FCCD83;
$darker-bg: #f7f1d3;
$font-size-root: 16px;
$grid-gutter-width: 1.75rem;
$grid-breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 1120px,
    xl: 1690px
);
$btn-close-color: $body-color;
$btn-close-opacity: 1;
$btn-close-hover-opacity: .5;
$btn-close-width: 0.8em;

$accordion-icon-color: $body-color;
$accordion-icon-active-color: $body-color;


//3. include remainder of required bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/maps';

// //4. include any optional bootstrap components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/accordion';

//5. add your custom code here.
//importing the font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Mono:wght@300;700&display=swap');


:root {
    --bs-body-font-family: 'Inter', sans-serif;
    --bs-body-font-weight: 400;
}

html {
    overflow-y: scroll;
}

h1 {
    font-family: Inter;
    font-weight: bold;
    font-size: 68px;
    letter-spacing: -0.03em;
}

h2 {
    font-family: Roboto Mono;
    font-weight: 300;
    font-size: 24px;
}

h3 {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 28px;
    line-height: .75em;
}

h5 {
    font-family: Roboto Mono;
    font-weight: 300;
    font-size: 18px;

}

h6 {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: #FEFDF8;
    // overriding default header line-height for text centering
    line-height: inherit;
}

span {
    background-color: #f0ead0;
}

p {
    text-align: center;
    font-weight:100;
    font-size: 16px;
    margin: auto;
}

.row-header {
    background-color: $primary;
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;
}

.row-footer {
    background-color: $body-bg;
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;
}

.row-cards {
    padding-top: $spacer * 3;
}

.title {
    text-align: center;
    margin: auto;
    padding-top: $spacer * 4;
}

.container-fluid {
    background-color: #FEFDF8;
}

.searchBox {
    font-family: Roboto Mono;
    font-size: 48px;
    font-weight: 700;
    color: $body-color;
    background-color: $body-bg;
    border: 0px;
    height: 1.85em;
    width: 1.3em;
    letter-spacing: .1em;
    text-align: center;
    margin-left: $spacer *.25;
    margin-right: $spacer *.25;
    padding-left: 4px;
    padding-right: 0;
    caret-color: $secondary;
    border-radius: 2px;

    &:focus {
        outline: none;
    }

    &::selection {
        background: $tertiary;
    }
}

.AACard {
    background: $body-bg;
    border-color: $body-color;
    border-width: 3px;
    border-radius: 0;
    height: 215px;
    width: 100%;
    min-width: 350px;
    max-width: 400px;
    margin: .75em;
    margin-bottom: 1em;
    box-shadow: 6px 6px $secondary;
    padding: .8em .5em .8em .5em;
}

.circle-abbr-txt {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 100%;
    text-align: center;
    background: $body-color;
}

.rect-abbr-txt {
    background: $body-color;
    border-radius: 8px;
    height: 32px;
    width: auto;
    line-height: 32px;
    min-width: 32px;
    margin-left: 4px;
    padding-left: .5em;
    padding-right: .5em;
}

.img-AA {
    max-width: 180px;
    max-height: 80px;
    mix-blend-mode: multiply;
}

.card-footer {
    background: $body-bg;
    border: 0;
}

.help-icon {
    font-size: 1.5em;

    color: $body-color;
    margin: 0 1em 0 0;
    transition: all .5s;
}

.help-icon:hover {
    color: #acf6fd;
    cursor: pointer;
    transition: all .25s;
}

.modal {
    backdrop-filter: blur(5px);
    overflow-y: hidden;
    transition: all .25s;
}

.modal-backdrop {
    background-color: black;
    opacity: .3 !important;
}

.modal-open {
    padding-right: 0px !important;
}


.modal-content {
    background-color: $body-bg;
    border-radius: 0;
    border-width: 3px;
    border-color: $body-color;
    padding: 1.5em;

    .modal-header {
        border-width: 0;
        margin-bottom: 1em;
    }

    .modal-body {
        padding-top: 0;
        margin-bottom: 1em;
        overflow-y: auto;
        height: 400px; //adjust later
    }
    
    .btn-close:hover {
        transition: all .25s;
    }
}

//For Firefox only - web docs experimental
.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: $body-color $darker-bg;

    // Works in Chrome, Safari, IE
    &::-webkit-scrollbar {
        width: 5px ;
    }
    
    &::-webkit-scrollbar-track {
        background: $darker-bg;
        border-radius: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $body-color;
        border-radius: 5px;
    }
}

.accordion-item {
    color: $body-color;
    margin-right: auto;
    background: $body-bg;
    border-width: 0;

    .accordion-button {
        font-weight: 600;
        font-family: Inter;
        color: $body-color;
    }

    .accordion-button:hover {
        background: $darker-bg;
    }

    .accordion-button:not(.collapsed) {
        background-color: $tertiary;
        opacity: 1;
    }

    // Moves the chevron to the left side
    .accordion-button:after {
        order: -1;
        margin-left: 0;
        margin-right: 1em;
    }

    .accordion-button:focus {
        box-shadow: none !important;
    }
}